net.listen("{{ knot_resolver_ip }}", {{ knot_resolver_port }})
policy.add(policy.all(policy.FORWARD({{% for ip_address in dns_resolvers %} {{ip_address}} {% if not loop.last %}, {% endif %} {% endfor %}})))